
*{
  
    margin: 0;
    padding: 0;
}

.navigator{
    background-color: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
   
    top: 0px;
    width: 100%;
}
h1{
    cursor: pointer;
    font-size: 30px;
    color: white;
}
h1:hover{
    color:  rgb(122, 122, 255);;
}
ul{
    list-style: none;
    display: flex;
}
li{
    padding: 0px 10px;
}
a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-radius: 5px;
    transition: all 0.5s;
    padding: 0px 10px;
}
a:hover{
    
  color: rgb(122, 122, 255); ;
     transform:translateY(-20px);
     
}

.appo{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 5px 15px;
    margin: 0px 5px;
    color: black;
}
sub{
    font-size: 20px;
}

.head1{
    color: white;
    display: flex;
   width: auto;
   align-items: center;
   justify-content: center;
   margin-top: 150px;
}
@media screen and (max-width: 1350px) {
    .navigator{
        padding-top: 15px;
        height: 180px;
        align-items: flex-start;
    }
    .navbar ul{
        flex-direction: column;
    }
    .navbar ul li{
        margin: 5px 0px;
        text-align: center;
    }
    .icons{
        margin-top: 10px;
    }
    .appo{
        display: none;
    }
    .head1{
        width: 1200px;
    }
   
}
header{
 /*   background-image: url(images/대양.webp);
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color:  rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

#head{
   font-weight: bold;
    width: 470px;
    height: auto;
    border-radius: 5px;
   
  
    
}
#firstimg{
    margin: 80px;
    border-radius: 10px;
    animation: moveIn 1s ease-in-out;
}
 span{
    font-size: 17px;
    opacity: 0;
 }
 #first{
    animation: moveIn 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
 }
 #second{
    animation: moveIn 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
 }
 #third{
    animation: moveIn 1s ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
 }

#start{
     width: 400px;
     animation: moveIn 1s ease-in-out;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
    font-size: 30px;
    margin-left: 65%;
    color: lightgray;
}
@keyframes moveIn{
    from{
       
        opacity: 0;
    }
    to{
       
        opacity: 1;
    }
}
section{
    width: 100%;
    height: 100vh;
   background-color: black;
    border: 1px solid black;

}


.n{
        position: relative;
        top: 363px;
        left: 2px;
        width: 40px;
        transition: all 1.5s;
}
.s{
        position: relative;
        top: 378px;
        left: 179px;
        width: 35px;
        transition: all 1.5s;
}
.l{
        position: relative;
        top: 366px;
        left: 283px;
        width: 40px;
        transition: all 1.5s;
}
.r{
        position: relative;
        top: 381px;
        left: 334px;
        width: 35px;
        transition: all 1.5s;
}
.n1{
    display: flex;
    flex-direction: column;
}
.s1{
    display: flex;
    flex-direction: column;
}
.l1{
    display: flex;
    flex-direction: column;
}
.r1{
    display: flex;
    flex-direction: column;
}

.n2{
    position: relative;
    top: 300px;
    left: 18px;
}
.s2{
    position: relative;
    top: 300px;
    left: 194px;
}
.l2{
    position: relative;
    top: 300px;
    left: 302px;
}
.r2{
    position: relative;
    top: 300px;
    left: 350px;
}
.n:hover{
    transform: translateY(-20px);
    cursor: pointer;
}

.n:hover {
    transform: translateY(-20px);
    cursor: pointer;
}
.s:hover{
    transform: translateY(-20px);
    cursor: pointer;
}
.l:hover{
    transform: translateY(-20px);
    cursor: pointer;
}
.r:hover{
    transform: translateY(-20px);
    cursor: pointer;
}
.head1 > p{
    width: 470px;
    height: 170px;
}
.third img{
    width: 200px;
    height: 200px;
    margin-top: 5%;
    margin-left: 5%;
    opacity: 0.1;
     transition-duration: 5s;
}
.imagesize{
    width: 700px;
    height: 600px;
    border: 3px solid  white;
    background-image: url(images/NSLR빠진\ 책.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 300px;
    margin: 150px 200px ;
    color: white;
    display: flex;
    opacity: 0.1;
    filter: grayscale(1);
    margin: 0 10%;
    transition-duration: 5s;
}
.third img:hover{
    opacity: 1;
   
    
}
.ppo{
   
    font-size: 18px;
    color: white;
}
.third{
    margin-left: 300px;
}
.chobook{
    display: flex;
}
.imagesize:hover{
    opacity: 1;
   filter: grayscale(0.2);
    
}