*{
    text-align: center;
  }
    select {
      width: 140px;
    }
    #day{
      width: 50px;
    }
    legend{
      font-size: 40px;
    }
    #date{
      width: 110px;
      
    }
  

 
    .set1{
     
      width: 50px;
    }
  
    .type{
      width: 200px;
    }

    .height{
      border: 1px solid black;
      height: 20px;
      text-align: center;
    }
   input[type="text"]{
    resize: none;
      
    border: none;
    outline: none;
   }

    table{
      margin: 0 auto;
      border-spacing: 0px;
    }

    form input[type="text"]{
      width: 93%;
     
      border: none;
    }
    form textarea{
      width: 98%;
      resize: none;
      
      border: none;
      outline: none;
      text-align: left;
      
    }
    fieldset{
     margin: 0px 100px;
    }
  .big1{
    width: 100%;
    border: 3px solid black;
   }
   .big2{
     margin: 10px;
    }
    .big3{
      margin: 40px;
    }
    
    .last2{
      border: 1px solid black;
      width: 50%;
    }